body{
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  line-height: 20px;
}

.header{
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.header-top-first{
  font-weight: 200;
  font-size: 32px;
  opacity: 0.7;
}

.header-top-second{
  font-weight: 600;
  font-size: 32px;
  opacity: 0.7;
}

.header-bottom-text{
  font-weight: 400;
  opacity: 0.4;
}

.container{
  text-align: center;
}

.block{
  background-color: white;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 16px hsl(0, 0%, 70%);
  padding: 20px 40px 40px 40px;
  margin: 20px;
  text-align: left;
  line-height: 26px;
}

.block-title{
  opacity: 0.7;
}

.block-text{
  opacity: 0.4;
}

.pic{
  text-align: right;
  margin-top: 40px;
}

.supervisor{
  display: inline-block;
  width: 22%;
  vertical-align: top;
  margin-top: 190px;
  border-top: 4px solid hsl(180, 62%, 55%);
}

.builder-karma{
  display: inline-block;
  width: 30%;
}

.builder{
  border-top: 4px solid hsl(0, 78%, 62%);
}

.karma{
  margin-top: 40px;
  border-top: 4px solid hsl(34, 97%, 64%);
}

.calculator{
  display: inline-block;
  width: 22%;
  vertical-align: top;
  margin-top: 190px;
  border-top: 4px solid hsl(212, 86%, 64%);
}

@media(max-width: 1000px){
  .builder-karma{
    display: block;
    width: 100%;
  }

  .calculator{
    display: block;
    width: 88%;
    margin-top: 0;
  }

  .karma{
    margin-top: 0;
  }

  .block{
    margin-top: 50px;
  }

  .supervisor{
    display: block;
    width: 88%;
    margin-top: 100px;
  }

  h2, .header-top-first, .header-top-second{
    font-size: 14px;
  }

  p, .header-bottom-text{
    font-size: 12px;
  }

  img{
    width: 100px;
    height: 100px;
  }
}
